{{#partial "content"}}
    <div class="card">
        <div class="card-header">
            Fulano
        </div>
        <div class="card-body">
            <p class="backnote">Aquí se muestran detalles del estudiante seleccionado</p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
        </div>
    </div>
{{/partial}}

{{> base.hbs }}