{{#partial "content"}}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>Lista de estudiantes</h1>

                <button type="button" class="btn btn-primary">Agregar estudiante</button>

                <table class="table table-responsive table-stripped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Matricula</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Telefono</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each estudiantes}}
                        <tr>
                            <th scope="row">{{ matricula }}</th>
                            <td>{{ nombre }}</td>
                            <td>{{ apellido }}</td>
                            <td>{{ telefono }}</td>
                            <td><button type="button" class="btn">Edit</button>
                            <button type="button" class="btn">Delete</button></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>

            <div class="col">
                <br>
                <p class="backnote">Aquí se muestran detalles del estudiante seleccionado</p>
            </div>
        </div>
    </div>

{{/partial}}

{{> home.hbs}}