{{#partial "content"}}
    <div class="container">
        <h1 class="my-3">Lista de estudiantes</h1>

        <form action="/create" method="get">
            <button type="submit" class="btn btn-primary my-3">Agregar estudiante</button>
        </form>

        <table class="table table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Matricula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Telefono</th>
                </tr>
            </thead>
            <tbody>
            {{#each estudiantes}}
                <a href="/show">
                    <tr>
                        <th scope="row">{{ matricula }}</th>
                        <td>{{ nombre }}</td>
                        <td>{{ apellido }}</td>
                        <td>{{ telefono }}</td>
                    </tr>
                </a>
            {{/each}}
            </tbody>
        </table>
    </div>

{{/partial}}

{{> home.hbs}}